bin/
include/
kotti_eshop.db
kotti_eshop.egg-info/
kotti_eshop/__init__.pyc
kotti_eshop/fanstatic.pyc
kotti_eshop/populate.pyc
kotti_eshop/resources.pyc
kotti_eshop/views/__init__.pyc
kotti_eshop/views/edit.pyc
kotti_eshop/views/view.pyc
kotti_eshop/views/widget.pyc
lib/
local/
src/
.cache/
.coverage
kotti_eshop/tests/__pycache__/
kotti_eshop/tests/conftest.pyc
*.pyc

